
.alert-danger {
	display: block;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #a94442;
	background-color: #f2dede;
	border-radius: 6px;
	border: 1px solid #ebcccc;
	font-weight:bold;
}
