
.btn {
	display: inline-block;
	border-radius: $global-radius;

	&:hover {
		cursor: pointer;
	}

	& .fa {
		margin-right: 12px;
	}
}

.btn-larger {
	padding: 0.8rem;
	font-size: 1.2rem;
	margin: 0.1rem 0.5rem;
}

.btn-smaller {
	padding: 0.2rem;
}

.btn-primary {
	color: white;
	background-color: $color-primary;
	border: none;

	&:hover {
		background-color: $color-primary-darker;
	}
}
