
$fa-font-path: '../fonts/fontawesome';

$color-primary: #dd2345;
$color-primary-darker: #bb203d;
$color-secondary: #71b4e0;
$color-secondary-lighter: #66c7f4;
$color-black: #011627;
$color-white: white;
$color-gray: gray;
$color-gray-darker: #383838;

$global-line-height: 1.5;
$global-font-size: 1rem;
$global-font-family: sans-serif;
$global-radius: 6px;
